/*_______BASE_______*/

body, html{
	margin: 0px;
	padding: 0px;
}

body{
	width: 975px;
	padding-left :35px;
	margin: auto;
}

*{
	font-family:Arial, Helvetica, sans-serif;
	font-variant:normal;
	font-size:12px;
	color: #555;
}

p{
	line-height: 150%;
}

h1{
	display: inline;
	font-size: 16px;
	font-weight: bold;
}

h2{
	display: inline;
	font-size: 16px;
	font-weight: normal;
	color: #999;
}

a img{
	border: none;
}

a{ 
	text-decoration:none;
}

a:hover{
	text-decoration: underline;
}

.banner{
	margin-top: 20px;
	width: 905px;
	height: 120px;
}

.bannerLogo{
	float: left
}

.bannerStayTuned{
	float: right;
}

.line{
	width: 905px;
	height: 1px;
	background: #555;
	margin-bottom: 20px;
}

#content{
	width: 940px;
	text-align: left;
	margin-top: 45px;
	margin-bottom: 90px;
	float: left;
}

#links{
	width: 905px;
	margin-bottom: 20px;
	padding-right: 35px;
}

.linkCategory{
	float: left;
	margin-right: 15px;
}

.linkSocial{
	float: right;
	margin-left: 15px;
}

#facebooksocial{
	width: 905px;
	margin-bottom: 20px;
}

.fb-like{
	margin-right: 35px;
	float:left;
	display: block;
}

.fb-comment{
	display: block;
	float:left;
}

#footer{
	float:left;
	margin-bottom: 50px;
}

/*_____OVERVIEW_____*/

.project{
	width: 200px;
	height: 175px;
	margin: auto;
	margin-right: 35px;
	margin-bottom: 20px;
	float: left;
	text-align: center;
}

.projectImage{
	margin-bottom: 5px;
}

.projectLinkTitle{
	font-weight: bold;
}

.projectLinkCategory{
	color: #999;
}

.projectClickable:hover img{
	border: 5px solid;
	border-color: #DDD;
	margin-top: -5px;
	margin-left: -5px;
	margin-bottom: 0px;
}

/*______DETAIL______*/

#projectTitle{
	margin-bottom: 20px;
}

#embed{
	margin-bottom: 35px;
}

#content .textColumn{
	width: 440px;
	margin-right: 25px;
	margin-bottom: 35px;
	float:left;
}

#gallery {
	width: 925px;
	float: left;
}

#gallery img{
	width: 165px;
	height: 93px;
	margin-right: 20px;
	margin-bottom: 20px;
	float: left;
}

#gallery img:hover{
	border: 5px solid;
	border-color: #DDD;
	margin-top: -5px;
	margin-left:-5px;
	margin-right: 15px;
	margin-bottom: 15px;
}

/*_____ABOUT______*/

#about{
	width: 440px;
	margin-right: 25px;
	float: left;
}

#contact{
	width: 440px;
	margin-right: 25px;
	float: left;
}

.importantLink{
	color: #000;
	text-decoration: underline;
}

/*_____CANVAS_____*/

#canvascontent{
	width: 905px;
	height: 603px;
	position: relative;
	overflow: hidden;
	margin:0 auto;
}

#canvas{
	background-color:#333;
	position: relative;
	overflow: hidden;
	/*width: 960px;
	height: 640px;*/
}